<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- HEAD -->
<head th:replace="fragments/head :: head('Hero Game')"></head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

<!-- App Wrapper -->
<div class="app-wrapper">

    <!-- Header -->
    <nav th:replace="fragments/nav :: nav"></nav>

    <!-- Sidebar -->
    <aside th:replace="fragments/aside :: aside"></aside>

    <!-- Main Content -->
    <main class="content-wrapper" th:replace="${content}"></main>

    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

</div>

<!-- Scripts -->
<!-- Plugin: OverlayScrollbars -->
<script
        src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/browser/overlayscrollbars.browser.es6.min.js"
        crossorigin="anonymous"></script>

<!-- Plugin: Popper (for Bootstrap) -->
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>

<!-- Plugin: Bootstrap -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>

<!-- Plugin: AdminLTE -->
<script src="/js/adminlte.js"></script>

<!-- OverlayScrollbars Configuration -->
<script>
    const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
    const Default = {
      scrollbarTheme: 'os-theme-light',
      scrollbarAutoHide: 'leave',
      scrollbarClickScroll: true,
    };
    document.addEventListener('DOMContentLoaded', function () {
      const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
      if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
        OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
          scrollbars: {
            theme: Default.scrollbarTheme,
            autoHide: Default.scrollbarAutoHide,
            clickScroll: Default.scrollbarClickScroll,
          },
        });
      }
    });
</script>

</body>
</html>
