.content-wrapper h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.table {
    background-color: #fff;
}

.table th {
    background-color: #f4f4f4;
    text-align: center;
}

.table td, .table th {
    vertical-align: middle;
}

a.btn {
    margin-right: 5px;
}
